html(lang="en")
  head
    title Landing Page
  body
    h1 "The future home, of something awesome"
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam molestiae aut iusto quibusdam sapiente. Cum maiores reprehenderit ipsam iusto temporibus officiis iure sit, nobis dolorum atque, voluptatum suscipit fuga.